<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <!--title>Editing: ${aux.descripcion}</title-->
</head>

<body>

<!--div py:replace="aux.descripcion">Page text goes here.</div-->
<div>
  <form action="/save" method="post">
    <input type="hidden" name="id" value="${recurso.id}"/>
    <textarea name="data" py:content="recurso.descripcion" rows="10" cols="60"/>
    <input type="submit" name="submit" value="Guardar"/>
  </form>
  <!--a href="${tg.url('/Agregar Recurso')}">Agregar Recurso</a-->
  <!--<h2>Nuevo Recurso</h2>
	${tmpl_context.add_movie_form( action='add_movie') }!-->
  
 
  
  
  
</div>


</body>
</html>

