<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Bienvenido-SGP</title>
</head>

<body>
    ${sidebar_top()}
  <div id="getting_started">
    <h2>Bienvenido al Sistema de Gestion</h2>
    <p>Sistema en construccion.</p>
    <ol id="getting_started_steps">
      <li class="getting_started">
        <h3>Proyectos</h3>
        <p> El sistema permite la administracion de proyectos de software</p>
      </li>
      <li class="getting_started">
        <h3>Seguimiento</h3>
        <p> Permite el seguimiento de sus proyectos de Softwares.</p>
      </li>
      <li class="getting_started">
        <h3>Control</h3>
        <p> Permite realizar un control del estado actual de Proyectos.</p>
      </li>
    </ol>
  </div>
  <div class="clearingdiv" />
  <li py:if="not request.identity"><div class="notice"> Debe loguearse para acceder al sistema.
  </div></li>
</body>
</html>
