<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head><link rel="stylesheet" type="text/css" href="/toscawidgets/resources/tw.forms/static/grid.css" media="all" />
    <title>Turbogears Admin System - Group Listing</title><style>
#menu_items {
  padding:0px 12px 0px 2px;
  list-style-type:None
  }
</style>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/admin.css"/>
</head>


<body class="tundra">

<!--div py:replace="aux.descripcion">Page text goes here.</div-->
<div>  
 <h2>Definir Proyecto</h2>
 <a href="/tipoItems/tipoItemUsuario/${proyecto.id}/lista">Tipo de Items</a>
    <div class="crud_table" style="height:50%; width:90%">
   <div>          
    </div>
      </div>
  
  
  
</div>

 <div style="clear:both;"/>

</body>
</html>

