<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head><link rel="stylesheet" type="text/css" href="/toscawidgets/resources/tw.forms/static/grid.css" media="all" />
    <title>SGP - Lista Items</title><style>
#menu_items {
  padding:0px 12px 0px 2px;
  list-style-type:None
  }
  
</style>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/admin.css"/>
<SCRIPT TYPE="text/javascript">
<!--
function enviarA(seleccion) {  
          
        alert(seleccion)
        document.formulario.action="/item/itemList/3"
		document.formulario.submit()	  		
			  		return true;	
}  
function vacio(q) {  
        for ( i = 0; i < q.length; i++ ) {  
                if ( q.charAt(i) != " " ) {  
                        return true  
                }  
        }  
        return false  
}  
  
function valida(F) {  
          
        if(F.expresion.value != "" ) {  
                return true 
        }else
        		return false
}  
function popup(mylink, windowname)
{
if (! window.focus)return true;
var href;
if (typeof(mylink) == 'string')
   href=mylink;
else
   href=mylink.href;
window.open(href, windowname, 'width=400,height=200,scrollbars=yes');
return false;
}
function mostrar(param) {
  obj = document.getElementById('ListaTodos');
  if (param)
  {
  	obj.style.display = (obj.style.display=='none') ? 'block' : 'none';
  }
 // document.getElementById('enla').innerHTML = (obj.style.display=='none') ? 'Ocultar' : 'Mostrar';
}

//-->
</SCRIPT>
</head>


<body class="tundra" onload="mostrar(${muestraBoton});  return true">
   
    
  <div><h3>Lista de Items</h3></div>  
   <table border="0">
		<tr>
		<td><a href="/item/faseList/${proyecto.id}" ><IMG title="Lista fase" height="25" border="0" src="${tg.url('/images/flechaAtras.jpg')}" /></a>
 		</td>	
		<td><u><b>Proyecto</b></u></td>
		<td colspan="3"><label>${proyecto.descripcion}</label></td>
		<td><td/><td/><u><b>Opciones: </b></u></td>
		<td colspan="3">
			<SELECT ONCHANGE="location.href = this.options[this.selectedIndex].value;">
			
			<!--  SELECT ONCHANGE="enviarA(this.options[this.selectedIndex].value)"-->
				<OPTION  selected="true" value="/item/itemList/${fase.id}" disable ="false">Seleccione un Opcion</OPTION>
				<OPTION value="/item/aprobarItems/${fase.id}">Aprobar Items</OPTION>
				<OPTION value="/lb/generar_linea_base/${fase.id}">Generar Linea Base</OPTION>
				<py:if test="existeLB==1">
					<OPTION ><a href="/">Listar Linea Base</a></OPTION>
				
				<OPTION ><a href="/">Abrir LB</a></OPTION>
				<OPTION value="/item/solicitudAperturaLB/${fase.id}">Solicitar Apertura LB</OPTION>
				</py:if>	
			</SELECT>
		</td>
		</tr>
		<tr><td/>
		<td><u><b>Fase Nro.</b></u></td>
		<td><label>${fase.numero_fase}</label></td>
		</tr>
		<tr><td/>
		<td><u><b>Fase</b></u></td>
		<td><label>${fase.descripcion}</label></td>
		<!--  td><input  size="25" disable="TRUE" readonly="TRUE" value="${fase.descripcion}"/>
		</td-->
		</tr>
  		<tr/><tr/><tr/><tr/><tr/><tr/><tr/><tr/><tr/><tr/><tr/><tr/>		
  		<tr>
  		 <td colspan="5"><a class="add_link" href="/item/agregar_item/${fase.id}/0">Agregar Nuevo Item</a></td>
  			<div id="Buscador">
  				<form  class="izquierda" display="none" onSubmit="return valida(this);" action="/item/itemList/${fase.id}"> 
  					<div>
  						<td/><td/><td/><td/><td>
  							<label>
  								<b>Buscar:</b>
  							</label>
    					</td>
    					<td colspan="3">
    						<input  class="label" size="15" name="expresion" value=""/>
    					</td>
    					<td>
    						<input   type="submit" name="submit" value="Buscar"/>
    					</td>
 					</div>    
  				</form>
  			</div>
  				
  			<td>
	  			<div style="display:none" id="ListaTodos">
	  				<form   class="izquierda" display="none" action="/item/itemList/${fase.id}" method="post">
	    				<input  type="submit" name="submit" value="Listar Todos"/>
	 				</form>
	 				<!--a  class="izquierda" title="Lista Todos los Tipos de Items" href="/tipoItems/tipoItemUsuario/${proyecto.id}/lista">Listar Todos</a-->
	  			</div>
	  		</td>
  			<!--FIN-BUSCADOR-->
    
   		
    </tr>	
   	
   </table> 
<div class="crud_table" style="height:50%; width:90%">
    <div> 
    <table class="grid" >
        <thead>
            <tr><th></th><th>Cod. Item</th><th >Descripcion</th><th>Estado</th><th>Complejidad</th><th>Version</th><th>Impacto</th><th>Historial</th><th>Mensajes</th></tr>
        </thead>
        <tbody >
        	<tr class="navigation" py:if="currentPage.page_count > 1">
    			<td colspan="4" class="pager">${currentPage.pager()}</td>
			</tr>
			<tr class="navigation" py:if="currentPage.item_count == 0">
    			<td colspan="4" class="pager">No existen items en esta fase</td>
			</tr>
        
            <tr py:for="i, item in enumerate(items)" class="${i%2 and 'odd' or 'even'}">
            <!-- Pregunta si no es inactivo-->
                
            <py:if test="item.estado_id!=6">
            
            <td class="col_0">
                <div><div><py:if test="item.estado.id!=3"> <py:if test="item.estado.id!=4">
                <a class="edit_link" href="/item/editar_item/${fase.id}/${item.id}" style="text-decoration:none">edit</a>   
                </py:if></py:if></div><div>
             	<!-- Pregunta si no es con linea base o Pendiente de Revision-->
             	<py:if test="item.estado.id==4"><IMG title="Atencion" height="20" border="0" src="${tg.url('/images/warning.png')}"/></py:if>
                <py:if test="item.estado.id==3"><IMG title="Con Linea Base" height="20" border="0" src="${tg.url('/images/ok.png')}" /></py:if>
                <py:if test="item.estado.id!=3">
                 <py:if test="item.estado.id!=4">
                <form method="POST" action="/item/eliminar_item/${fase.id}/${item.id}" class="button-to">
                	<input class="delete-button" onclick="return confirm('Esta seguro que desea eliminar el registro con codigo ${item.cod_item}?');" 
                	value="eliminar"  type="submit" style="background-color: transparent; float:left; border:0; color: #286571; display: inline; margin: 0; padding: 0;"/>
                </form>
                </py:if></py:if>
                </div></div>
            
            </td>
            <py:if test="item.estado_id!=3">
            	<py:if test="item.estado_id!=4">
            	<!--Si es con linea base Abierta -->
            	<py:if test="item.estado_id==5"><td  class="col_1"><a  title="Ver Info. del Item" href="/item/itemInfo/${item.id}">${item.cod_item}</a></td></py:if>
            	<!-- Pregunta si no es con linea base Abierta-->
                
            	<py:if test="item.estado_id!=5"><td  class="col_1"><a  title="Ver Info. del Item" href="/item/itemInfo/${item.id}">${item.cod_item}</a></td></py:if>
            	
                <td class="col_1"><a  title="Ver Info. del Item" href="/item/itemInfo/${item.id}">${item.descripcion}</a></td>
             	<td  class="col_1">${item.estado.descripcion}</td> 
                <td class="col_1">${item.prioridad}</td>
                 <td class="col_1">V-${item.version}</td>
                <td class="col_1"><py:if test="item.estado_id==3 "><a  href="/item/calculoImpacto/${item.id}">Calcular Impacto</a></py:if>
        			<py:if test="item.estado_id==4 "><a  href="/item/calculoImpacto/${item.id}">Calcular Impacto</a></py:if>
        			<py:if test="item.estado_id==5 "><a  href="/item/calculoImpacto/${item.id}">Calcular Impacto</a></py:if></td>
        		<td class="col_1"><py:if test="item.version>1 "><a  href="/item/calculoImpacto/${item.id}">Historial</a></py:if></td> 
           		 <td  class="col_1"><py:if test="item.estado_id==5"><IMG title="Mensaje" height="20" border="0" src="${tg.url('/images/warning.png')}" />Linea Base Abierta</py:if></td>
           </py:if>
           </py:if>
           <!-- Pregunta si es con linea base -->
                
            <py:if test="item.estado.id==3">
            	<td class="col_0"><a  href="/item/itemInfo/${item.id}">${item.cod_item}</a></td>
                <td class="col_1"><a  title="Ver Info. del Item" href="/item/itemInfo/${item.id}">${item.descripcion}</a></td>
                <td  class="col_1">${item.estado.descripcion}-IdLB: ${item.linea_base.id}</td> 
                <td class="col_1">${item.prioridad}</td>
                <td class="col_1">V-${item.version}</td>
                <td class="col_1"><py:if test="item.estado_id==3 "><a  href="/item/calculoImpacto/${item.id}">Calcular Impacto</a></py:if>
        			<py:if test="item.estado_id==4 "><a  href="/item/calculoImpacto/${item.id}">Calcular Impacto</a></py:if>
        			<py:if test="item.estado_id==5 "><a  href="/item/calculoImpacto/${item.id}">Calcular Impacto</a></py:if></td>
        		<td class="col_1"><py:if test="item.version>1 "><a  href="/item/calculoImpacto/${item.id}">Historial</a></py:if></td>
     			<!-- td class="col_0"><py:if test="item.linea_base.apertura=='1'"><a href="/item/solicitudAperturaLB/${fase.id}">Apertura LB Solicitada</a></py:if></td-->
                <td class="col_0"><py:if test="item.linea_base.apertura=='1'"><IMG title="Mensaje" height="20" border="0" src="${tg.url('/images/info.png')}" />Apertura LB Solicitada</py:if></td>
           </py:if>
           <!--Pregunta si es pendiente de revision  -->
             <py:if test="item.estado.id==4">
            	<td class="col_0"><a  href="/item/itemInfo/${item.id}"><i>${item.cod_item}</i></a></td>
                <td class="col_1"><a  title="Ver Info. del Item" href="/item/itemInfo/${item.id}"><i>${item.descripcion}</i></a></td>
                <td  class="col_1"><i>${item.estado.descripcion}</i></td> 
                <td class="col_1"><i>${item.prioridad}</i></td>
                 <td class="col_1"><i>V-${item.version}</i></td>
     
              <td class="col_1"><py:if test="item.estado_id==3 "><a  href="/item/calculoImpacto/${item.id}">Calcular Impacto</a></py:if>
        			<py:if test="item.estado_id==4 "><a  href="/item/calculoImpacto/${item.id}">Calcular Impacto</a></py:if>
        			<py:if test="item.estado_id==5 "><a  href="/item/calculoImpacto/${item.id}">Calcular Impacto</a></py:if></td>
        		<td class="col_1"><py:if test="item.version>1 "><a  href="/item/calculoImpacto/${item.id}">Historial</a></py:if></td>

     	
           </py:if>
           </py:if>
           <!-- /py:if-->     
        </tr>
        </tbody> 
    </table>
  </div>
  <tr/><br/>
 	<py:if test="existeLB==1">
 		<tr>
 			<i>
 				<b>*<u>OBS: </u>
 				</b>Para modificar o eliminar un item que se encuentre dentro de una Linea Base, debe solicitar primero la apertura de la LB.
 			</i>
 		</tr>
 	</py:if>
 </div>
<br/><br/>
<a href="/faseList/${proyecto.id}">Lista de Fases</a>   
  
  


 <div style="clear:both;"/>

</body>
</html>

