<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />



<SCRIPT LANGUAGE="JavaScript">
function cargarVector(atributos)
{
  var f;
  py:for each="i, atributo in enumerate(atributos)"
  	obj = document.form.(i);	
  	obj.value="prueba"
  
}
function cambiaPalabra() {

document.form.1.value="Adios";
}

</SCRIPT>


<script> 
var numero = 2 
function verificar()
{
	if(document.formulario.fases.checked==true)
	{
		return true;
	}
              
              for(i=0; ele=document.formulario.fases[i]; i++){
    				if (ele.checked==true){
    					
    					return true;
    					
    				}
    				}
    				
    			
						 alert("Debe seleccionar al menos una fase");
    					 return false;
    					
    				
}
function mostrar(param) {
 
  obj = document.getElementById('ListaTodos');

  if (param)
  {
  	obj.style.display = (obj.style.display=='none') ? 'block' : 'none';
  }
 // document.getElementById('enla').innerHTML = (obj.style.display=='none') ? 'Ocultar' : 'Mostrar';
}
boton=""
function valida(F) {
	if (boton=="Cancelar")
		{  
   				
    				
    				document.formulario.action="/item/itemList/${fase.id}"
			  		
			  		return true;	
				
       	}
		
		if (boton=="Relacion")
		{  
   				for(j=0; ele=document.formulario.itemselect[j]; j++){ 
              		
    				if (ele.checked==true){
    					document.formulario.action="/item/saveRelacion/${item.id}"
        				F.filtros.value="Lista"
    					return true;
    					
    				}
    				}
    				
    			if(document.formulario.itemselect.checked==true){
			  		document.formulario.action="/item/saveRelacion/${item.id}"
			  		F.filtros.value="Lista"
			  		return true;	
				}
    			alert("Debe seleccionar al menos un item para relacionar");
    			return false;
       	}
       	if (boton=="RelacionPH")
		{  
				try {
   				for(j=0; ele=document.formulario.itemselect[j]; j++){ 
              		
    				if (ele.checked==true){
    					document.formulario.action="/item/saveRelacion/${item.id}"
        				F.filtros.value="Lista"
    					return true;
    					
    				}
    				}
    				
    			if(document.formulario.itemselect.checked==true){
			  		document.formulario.action="/item/saveRelacion/${item.id}"
			  		F.filtros.value="Lista"
			  		return true;
			  	
				}
				document.formulario.action="/item/relacionar_item/${item.id}/${fase.id}/1"
			  	F.filtros.value="Lista"
			  	return true;	
				}
				catch(mierror){
    			document.formulario.action="/item/relacionar_item/${item.id}/${fase.id}/1"
			  	F.filtros.value="Lista"
			  	return true;}
       	}
       	
       	
       	
       	if(boton=="Buscar"){
        		if(F.filtros.value != "") {   
                	return true 
        		}
        		else if (F.filtros.value == ""){
        			return false
        		}	 
        }else if (boton=="ListarTodos"){
       	 	F.filtros.value=""
        		return true
        }				
}
function botonPresionado(botonP){
boton=botonP
}  
function verificarItems()
{	
			  
			  
              for(j=0; ele=document.formulario2.itemselect[j]; j++){ 
              		
    				if (ele.checked==true){
    					
    					return true;
    					
    				}
    				}
    				
    			if(document.formulario2.itemselect.checked==true)
			  		return true;	
	
    					 alert("Debe seleccionar al menos un item");
    					 return false;
    					
    				
}
        
</script>



<head>
<style>
#menu_items {
  padding:0px 12px 0px 2px;
  list-style-type:None
  }
  
</style>

  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <!--title>Editing: ${aux.descripcion}</title-->
</head>

<body onload="mostrar(${muestraBoton});  return true">
<!--div onclick="comprueba(this)">Otro comentario</div-->
<div><h3>Relacionar Item</h3></div>
<div id="CargaAtributos">
 	<input type="hidden" name="idFase" value="${fase.id}"/>
    <input type="hidden" name="idProy" value="${proyecto.id}"/>
    <form   name="formulario"  action="/item/relacionar_item/${item.id}/${fase.id}/${tipo}" method="get" onSubmit="return valida(this);">
   
    <table border="0">
	<tr>
	<py:if test= "tipo==1"><py:if test= "fase.numero_fase!=1"><a href="/item/relacionar_item/${item.id}/${fase.id}/2" ><IMG title="Relacionar Antecesor/Sucesor" border="0" height="25" src="${tg.url('/images/flechaAtras.jpg')}" /></a>
 	</py:if></py:if>
		<td><b><u>Proyecto:</u></b></td>
		<td><label>${proyecto.descripcion}</label>
		</td>
		<td><b><u>Fase:</u></b></td>
		<td colspan="3"><label>${fase.descripcion}</label>
		</td>
	</tr>

	<tr>
		<td><b><u>Cod.Item:</u></b></td>
		<td><label>${item.cod_item}</label></td>		
	</tr>
	<tr>
		<!--td><label>Descripcion:</label></td>
		<td><textarea name="descripcion" py:content="item.descripcion" rows="7" cols="38"/></td-->
		
	</tr>
	
	<tr/><tr/><tr/><tr/><tr/><tr/>
	<!--form  display="none"   action="/item/relacionar_item/${item.id}/${fase.id}" name="formulario" onSubmit="return verificar(this);" method="get"-->
	<tr>
		
		<td colspan="2"><b>Relacionar Item con la fase: </b>${fasesRelacion.descripcion}</td>
		
	</tr>
	
	<tr><td colspan="2"><b>Tipo de Relacion:</b> ${tipoRelacion}</td>
		
		
	
		<td> 
		<!--input type="button" name="submit" value="Cancelar" />
		<py:if test="fase.numero_fase==1"><input type="submit"  name="submit" title="Guardar el item sin relacionar con otro" value="Guardar Sin Relacionar"/>
		</py:if-->
		<!--input type="submit"  name="submit" title="Lista los items de las fases seleccionadas" value="Listar Items"/-->	
		</td>
		
	
	
	 <!-- /form--><td/>
	<!--BUSCADOR-->
  	<input type="hidden" name="tipo" value="${tipo}"/>
  	
  	<div id="Buscador">
    	<div><td><label><b>Buscar:</b></label>
    		</td><td><input   type="text" size="15" name="filtros" value="${filtro}"/></td><td><input   type="submit" onClick="botonPresionado('Buscar')" name="submit" value="Buscar"/></td>
 		<td><input   type="submit" onClick="botonPresionado('ListaTodos')" name="submit" value="Listar Todos"/></td>
 		</div>   
  	
  </div>
  </tr>
  <!--FIN-BUSCADOR--> 
  <tr/><tr/>
	</table>
	
    <!-- form  display="none"  name="formulario2" onSubmit="return verificarItems(this);"  action="/item/saveRelacion/${item.id}" method="get"-->
    
    <div><h3>Lista de Items con LB: </h3></div>
	<div class="crud_table" >
		<div>
			<table class="grid"  style="height:80%; width:100%">
    		<thead>
     			<tr><th></th><th>Cod. Item</th><th >Descripcion</th><th>Version</th><th>Fase</th><th>Nro.Fase</th></tr>
    		</thead>
     		<tbody >
     			<!--p class="pagelist">
        		<a class="navigation" href="?page=${currentPage.previous_page}">&lt;&lt;&lt;</a>
        			${currentPage.pager(format='~3~', page_param='page', show_if_single_page=True)}
       		 	<a class="navigation" href="?page=${currentPage.next_page}">&gt;&gt;&gt;</a>
				</p-->
        		<!--tr class="navigation" py:if="currentPage.page_count > 1">
    			<td colspan="4" class="pager">${currentPage.pager()}</td>
    			<td colspan="4" class="pager">${currentPage.pager()}</td>
				</tr-->
					<tr class="navigation" py:if="currentPage.item_count == 0">
    			<td colspan="4" class="pager">No existen items para relacionar</td>
				</tr> 
        		<tr py:for="i, item in enumerate(items)" class="${i%2 and 'odd' or 'even'}">
      			  <py:if test="item not in itemSeleccionado">
	            	<td class="col_0">
                		<div><div><input TYPE="CHECKBOX"  name="itemselect" value="${item.id}" /></div><div>
               			</div></div>
            		</td>
            		<td class="col_0">${item.cod_item}</td>
                	<td class="col_1">${item.descripcion}</td>
                	<td class="col_1">${item.version}</td>
                	<td class="col_1">${item.fase.descripcion}</td>
                	<td class="col_1">${item.fase.numero_fase}</td>
        		 </py:if>
  			</tr>
  			<tr py:for="i, itemse in enumerate(itemSeleccionado)" class="${i%2 and 'odd' or 'even'}">
      			
	            	<td class="col_0">
                		<input TYPE="CHECKBOX" checked="true" name="itemselect" value="${itemse.id}" />
               			
            		</td>
            		<td class="col_0">${itemse.cod_item}</td>
                	<td class="col_1">${itemse.descripcion}</td>
                	<td class="col_1">${item.version}</td>
                	<td class="col_1">${itemse.fase.descripcion}</td>
                	<td class="col_1">${itemse.fase.numero_fase}</td>
        		
  			</tr>
    	  </tbody>
    
    </table>
    		<br/><br/>
    		<tr><i><b>*<u>OBS: </u></b>${observacion}</i></tr>
    </div>
    </div>
    <br/><br/><br/><br/>
		<input type="submit" name="submit" onClick="botonPresionado('Cancelar')" value="Cancelar" />
		<input type="submit"  name="submit" title="Relacionar Item" onClick="botonPresionado('Relacion')" value="Relacionar"/>	
		<py:if test= "tipo!=1"><input type="submit"  name="submit" onClick="botonPresionado('RelacionPH')" title="Relacionar Item" value="Relacionar Padre/Hijo"/>	
		</py:if>
		
	<!--  /form-->
 </form>
  
  
  
  
</div>
<br/>
<!-- py:if test= "tipo==1"><a href="/item/relacionar_item/${item.id}/${fase.id}/2">Relacion Antecesor/Sucesor</a></py:if-->

<br/>
<!-- 
<a href="/item/itemList/${fase.id}/lista">Lista Item</a>
 -->  
</body>
</html>
