<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

    <xi:include href="master.html" />
<script>
var boton

function botonPresionado(botonP){
	boton=botonP
}
function validarCamposObligatorios(form){
	if (boton=="Cancelar"){
		document.form.action="/proyecto/usuario_faseList/${proyecto_id}"
		return true;
	
	}
	
	
}

function validarCodigos(form,lista){

	codigos=lista.split(',');
	user=document.form.user.value;
	rol=document.form.rol.value;
	codigoNuevo = user.toString() + rol.toString(); 

	for(j=0; ele=codigos[j]; j++){
		if(ele==codigoNuevo){
			alert("El usuario con el rol ya esta asignado a la fase");
				codRepetido=true		
	            return false;  
		} 
		
	}
	codRepetido=false 
}
</script>
    

    <head>
        <title>Asignar Usuario a fase</title>
        <meta content="text/html; charset=UTF-8" http-equiv="content-type"
              py:replace="''" />

    </head>
    <body>
        <h2>Asignar Usuario a fase ${fase.descripcion}</h2>
        
        <div>
            <form name="form" action="/proyecto/save_usuario_fase" method="post"
            onsubmit="return validarCamposObligatorios(this)">
                <table border="0" cellpadding="5" cellspacing="0">
                    <tr>
                        <td><input type="hidden" name="fase" value="${fase.id}" /></td>
                    </tr>
                    <tr>
                        <td align="left"><label>User </label></td>
                        
                        <td><select name="user" >
                                <option py:for="usuario in usuarios" value="${usuario.user_id}">${usuario.user_name}</option>
                            </select></td>

                        
                    </tr>
                    <tr><td></td></tr>
                    <tr>
                        <td align="left"><label>Rol </label></td>
                        <td align="right">
                            <input py:for="rol in roles"  type="checkbox" name="rol" value="${rol.group_id}">${rol.group_name}</input>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                        <input type="submit" name="submit" onClick="botonPresionado('Cancelar')" value="Cancelar" />
                        <input type="submit" name="submit" value="Guardar" />
                        </td>
                    </tr>
                </table>

            </form>

        </div>
    </body>

</html>