<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:py="http://genshi.edgewall.org/"
	xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />

<script>
var boton

function botonPresionado(botonP){
	boton=botonP
}
function validarCamposObligatorios(form){
	if (boton=="Cancelar"){
		document.form.action="/proyecto/"
		return true;
	
	}
	
	descripcion = document.form.descripcion.value
	
	if (descripcion==''){
	
		alert('Debe completar todos los campos obligatorios marcados con *');
    	return false;
	}
	

}    
</script>


<head>
<link rel="stylesheet" type="text/css"
	href="/toscawidgets/resources/tw.forms/static/grid.css" media="all" />
<title>Editar Proyecto</title>
<style>
#menu_items {
	padding: 0px 12px 0px 2px;
	list-style-type: None
}
</style>
<link rel="stylesheet" type="text/css" media="screen"
	href="/css/style.css" />
<link rel="stylesheet" type="text/css" media="screen"
	href="/css/admin.css" />

</head>


<body class="tundra">
	<div>

		<h2>Editar Proyecto</h2>

		<div class="crud_table" style="height: 50%; width: 90%">
			<div>

				<form name="form" action="/proyecto/actualizar" method="post"
					onsubmit="return validarCamposObligatorios(this)">
					<table border="0" cellspacing="0" cellpadding="2">
						<tr>
							<input type="hidden" name="id" value="${proyecto.id}" />
						</tr>
						<tr>
							<td><label>Nombre</label></td>
							<td><input type="text" name="descripcion"
								class="textfield required" value="${proyecto.descripcion}" /><b>*</b>
							</td>
						</tr>
						<tr>
							<td><label>Lider</label></td>
							<td><select name="id_user">
									<py:if test="proyecto.lider != None">
										<option value="${proyecto.lider.user_id}">${proyecto.lider.user_name}</option>
									</py:if>

									<div py:for="usuario in usuarios">
										<option value="${usuario.user_id}">${usuario.user_name}</option>

									</div>
							</select></td>
						</tr>
						<tr>
							<td></td>
							<td><input type="submit" name="submit"
								onClick="botonPresionado('Cancelar')" value="Cancelar" /> <input
								type="submit" name="submit" value="Guardar" /></td>
						</tr>
					</table>
				</form>
			</div>
		</div>



	</div>

	<div style="clear: both;" />

</body>
</html>
