<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:py="http://genshi.edgewall.org/"
	xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />

<head>
<link rel="stylesheet" type="text/css"
	href="/toscawidgets/resources/tw.forms/static/grid.css" media="all" />
<title>Lista de fases</title>
<style type="">
#menu_items {
	padding: 0px 12px 0px 2px;
	list-style-type: None
}
</style>
<link rel="stylesheet" type="text/css" media="screen"
	href="/css/style.css" />
<link rel="stylesheet" type="text/css" media="screen"
	href="/css/admin.css" />
	
	<script type="text/javascript">

           
            function valida(F) {

                if(F.expresion.value != "" ) {
                    return true
                }else
                    alert('Debe proporcionar un filtro');
                return false
            }

            function popup(mylink, windowname)
            {
                if (! window.focus)return true;
                var href;
                if (typeof(mylink) == 'string')
                    href=mylink;
                else
                    href=mylink.href;
                window.open(href, windowname, 'width=400,height=200,scrollbars=yes');
                return false;
            }

            function mostrar(param) {
                obj = document.getElementById('ListaTodos');
                if (param)
                {
                    obj.style.display = (obj.style.display=='none') ? 'block' : 'none';
                    
                }
                
            }
            
       
        </script>
	
	
	
</head>
<body class="tundra" onload="mostrar(${muestraBoton}); return true">
	<div><h3>Lista de fases</h3></div>
	<table border="0">
		<tr>
		<td><a href="/proyecto/lista"><IMG title="Lista de Proyectos" height="25" border="0" src="${tg.url('/images/flechaAtras.jpg')}" /></a>
 		</td>	
		<td ><u><b>Proyecto</b></u></td>
		<td ><label>${proyecto.descripcion}</label></td>
		</tr>
		<tr><td/>
		<td><u><b>Lider</b></u></td>
		<td ><label>${proyecto.lider.user_name}</label></td>
		</tr>
		<tr><td/>
		<td><u><b>Estado</b></u></td>
		<td ><label>${proyecto.estadoObj.descripcion}</label></td>
		</tr>
		<tr><td/>
		<td><u><b>Fec. Creacion</b></u></td>
		<td ><label>${proyecto.fecha_creacion.strftime("%Y/%m/%d")}</label></td>
		</tr>	
		<tr/><tr/><tr/><tr/><tr/><tr/><tr/><tr/><tr/><tr/><tr/><tr/>	
</table>
	
	<!-- Inicio Buscador-->

            <div id="Buscador">
                <form class="izquierda" display="none" action="/proyecto/definir_fase/${proyecto_id}"
                      method="get" onSubmit="return valida(this);">
                    <div>
                        <h3>
                            <label>Buscar:</label> <input class="label" name="expresion"
                                                          value="" /><input type="submit" name="submit" value="Buscar" />
                        </h3>
                    </div>
                </form>
            </div>

            <div style="display: none" id="ListaTodos">
                <form class="izquierda" display="none" action="/proyecto/definir_fase/${proyecto_id}"
                      method="post">
                    <input type="submit" name="submit" value="Listar Todos" />
                </form>

            </div>

            <!--FIN-Buscador-->
	
	
	<a py:if ="tg.predicates.has_permission('crear fase') and proyectoEstado==1 " class="add_link" href="/proyecto/agregar_fase/${proyecto_id}">Nueva
		Fase</a>
	<br />
	<br />
	<div class="crud_table" style="height: 50%; width: 90%">
		<div>
			<table class="grid">
				<thead>
					<tr>
						<th></th>
						<!-- th>Identificador</th-->
						<th>Nombre de fase</th>
						<th>Numero de fase</th>
						<th>Estado</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr class="navigation" py:if="currentPage.page_count > 1">
						<td colspan="4" class="pager">${currentPage.pager()}</td>
					</tr>

					<tr class="navigation" py:if="currentPage.item_count == 0">
						<td colspan="4" class="pager">No existen datos</td>
					</tr>

					<tr class="${i%2 and 'odd' or 'even'}" py:for="i, fase in enumerate(fases)">
						<td class="col_0">
							<div>
								<div>
									<a py:if ="tg.predicates.has_permission('editar fase') and proyectoEstado==1" class="edit_link" href="/proyecto/editar_fase/${fase.id}"
										style="text-decoration: none">edit</a>
								</div>
								<div py:if ="tg.predicates.has_permission('eliminar fase') and proyectoEstado==1">

									<form method="POST" action="/proyecto/eliminar_fase/${fase.id}"
										class="button-to">
										<input class="delete-button"
											onclick="return confirm('Esta seguro que desea eliminar el registro con id ${fase.id}?');"
											value="eliminar" type="submit"
											style="background-color: transparent; float: left; border: 0; color: #286571; display: inline; margin: 0; padding: 0;" />
									</form>
								</div>
							</div></td>
						<!--  td class="col_1">${fase.id}</td-->
						<td class="col_2">${fase.descripcion}</td>
						<td class="col_3">${fase.numero_fase}</td>
						<td class="col_4">${fase.estadoObj.descripcion}</td>
						
							<td><a py:if ="tg.predicates.has_permission('asignar desarrollador')" href="/proyecto/usuario_faseList/${fase.id}">Asignar
									Usuarios</a></td>
							<td><a py:if="fase.proyectoObj.estado==1" href="/tipoItems/tipoItemUsuario/${fase.id}/lista">Asignar Tipo
									de Items</a>
							</td>
						
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>

</html>