<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

    <xi:include href="master.html" />



    <head>

        <link rel="stylesheet" type="text/css"
              href="/toscawidgets/resources/tw.forms/static/grid.css" media="all" />
        <title>Lista de Proyectos</title>
        <style>
            #menu_items {
                padding: 0px 12px 0px 2px;
                list-style-type: None
            }
        </style>
        <link rel="stylesheet" type="text/css" media="screen"
              href="/css/style.css" />
        <link rel="stylesheet" type="text/css" media="screen"
              href="/css/admin.css" />

        <script type="text/javascript">

           
            function valida(F) {

                if(F.expresion.value != "" ) {
                    return true
                }else
                    alert('Debe proporcionar un filtro');
                return false
            }

            function popup(mylink, windowname)
            {
                if (! window.focus)return true;
                var href;
                if (typeof(mylink) == 'string')
                    href=mylink;
                else
                    href=mylink.href;
                window.open(href, windowname, 'width=400,height=200,scrollbars=yes');
                return false;
            }

            function mostrar(param) {
                obj = document.getElementById('ListaTodos');
                if (param)
                {
                    obj.style.display = (obj.style.display=='none') ? 'block' : 'none';
                    
                }
                
            }
            
            function validarDefinir(form, definible){
                if(definible=="False"){
                    alert("No es posible definir el proyecto, verifique la definicion ");
                    return false;
                }
                return true;
            }
            
            function validarEstado(formEliminar, estado, id){
            	
            	if(estado!=1){
            		
            		url = "/proyecto/avisoEliminarProyecto/"+id
            		window.location=url;
                	return false;
            	
            	}
            	else{
            		url = "/proyecto/eliminar/"+id;
            		document.formEliminar.action=url;
            		return true;
            	}
            	
            	
            }

        </script>


    </head>


    <body class="tundra" onload="mostrar(${muestraBoton}); return true">
        <div>
            <h2>Lista de Proyectos</h2>

            <!-- Inicio Buscador-->

            <div id="Buscador">
                <form class="izquierda" display="none" action="/proyecto/lista"
                      method="get" onSubmit="return valida(this);">
                    <div>
                        <h3>
                            <label>Buscar:</label> <input class="label" name="expresion"
                                                          value="" /><input type="submit" name="submit" value="Buscar" />
                        </h3>
                    </div>
                </form>
            </div>

            <div style="display: none" id="ListaTodos">
                <form class="izquierda" display="none" action="/proyecto/lista"
                      method="post">
                    <input type="submit" name="submit" value="Listar Todos" />
                </form>

            </div>

            <!--FIN-Buscador-->


            <a py:if="tg.predicates.has_permission('crear proyecto')"
               class="add_link" href="${tg.url('/proyecto/nuevo')}">Nuevo
			Proyecto</a> <br/> <br/>
            <div class="crud_table">
                <div>
                    <table class="grid"  style="height: 80%; width: 100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Nombre de Proyecto</th>
                                <th>Lider de Proyecto</th>
                                <th>Fecha de Creacion</th>
                                <th>Estado</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="navigation" py:if="currentPage.page_count > 1">
                                <td colspan="4" class="pager">${currentPage.pager()}</td>
                            </tr>

                            <tr class="navigation" py:if="currentPage.item_count == 0">
                                <td colspan="4" class="pager">No existen datos</td>
                            </tr>

                            <tr class="${i%2 and 'odd' or 'even'}"
                                py:for="i, proyecto in enumerate(proyectos)">
                                <td class="col_0">
                                    <div>
                                        <div py:if="tg.predicates.has_permission('editar proyecto')">
                                            <a class="edit_link" href="/proyecto/editar/${proyecto.id}"
                                               style="text-decoration: none">edit</a>
                                        </div>
                                        <div py:if="tg.predicates.has_permission('eliminar proyecto')">

                                            <form name="formEliminar" method="post" action="/proyecto/eliminar/${proyecto.id}"
                                                  class="button-to" onsubmit="return validarEstado(this, '${proyecto.estado}','${proyecto.id}');">
                                                <input class="delete-button" value="eliminar" type="submit"
                                                       style="background-color: transparent; float: left; border: 0; color: #286571; display: inline; margin: 0; padding: 0;" />
                                            </form>
                                        </div>
                                    </div>
                                </td>

                                <td class="col_2">${proyecto.descripcion}</td>
                                <py:if test="proyecto.lider != None">
                                    <td class="col_3">${proyecto.lider.user_name}</td>
                                </py:if>
                                <py:if test="proyecto.lider == None">
                                    <td bgcolor="red" class="col_3">No posee lider !!!!</td>
                                </py:if>
                                <td py:if="proyecto.fecha_creacion !=None" class="col_4">${proyecto.fecha_creacion.strftime("%Y/%m/%d")}</td>
                                <td class="col_5">${proyecto.estadoObj.descripcion}</td>

                                <py:if test="proyecto.estado== 1">
                                    <td><a py:if="proyecto.getDefinir() and tg.predicates.has_permission('definir proyecto') "
                                           href="/proyecto/definir_fase/${proyecto.id}">Definir Proyecto</a></td>
                                </py:if>
                                
								
									
                                <td>
                                <py:if test="proyecto.getmostrarFases() and proyecto.estado!=1">
									<a href="/item/faseList/${proyecto.id}">Lista de Fases</a>
									</py:if>
                                </td>
                                
                                <py:if test="proyecto.estado== 2">
                                    <td>
                                        <a py:if="proyecto.getDefinir() and tg.predicates.has_permission('definir proyecto') "
                                           href="/proyecto/definir_fase/${proyecto.id}">Asignar usuarios</a>
                                    </td>
                                </py:if>

                                <td>

                                    <py:if test="tg.predicates.in_group('LiderProyecto') and proyecto.getDefinir() and proyecto.estado==1 ">
                                        <div>
                                            <form class="izquierda" display="none" action="/proyecto/cambiarEstado/${proyecto.id}/2"
                                                  method="post" onsubmit="return validarDefinir(this,'${proyecto.isDefinible()}')">
                                                <input type="submit" name="submit" value="definido" />
                                            </form>
                                        </div>
                                    </py:if>

                                    <py:if test="tg.predicates.in_group('LiderProyecto') and proyecto.getDefinir() and proyecto.estado==2 and proyecto.isRedefinible()">
                                        <div>
                                            <form class="izquierda"  action="/proyecto/cambiarEstado/${proyecto.id}/1"
                                                  method="post">
                                                <input type="submit" name="submit" value="redefinir" />
                                            </form>
                                        </div>
                                    </py:if>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div style="clear: both;" />
    </body>
</html>

