<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />

<head>
	  <style>
			 #menu_items {
				padding:0px 12px 0px 2px;
				list-style-type:None
			 }
	  </style>
	  <script>
	  	boton=""
	  	function valida(F) {
		
		if (boton=="genlb")
		{  
   				for(j=0; ele=document.form1.itemselect[j]; j++){ 
              		
						  if (ele.checked==true){
								 document.form1.action="/lb/listar_fases_definidas/${idfaseDestino}/" + document.form1.itemselect[j].value; 
								 return true;	
						  }
    			}
    				
    			if(document.form1.itemselect.checked==true){
			  		document.form1.action="/lb/listar_fases_definidas/${idfaseDestino}/" + document.form1.itemselect;
			  		//F.filtros.value=""
			  		return true;	
				}
    			alert("Debe seleccionar un proyecto.");
    			return false;
       	}
       	
       	if(boton=="Buscar"){
        		if(F.filtros.value != "") {   
                	return true 
        		}
        		else if (F.filtros.value == ""){
        			return false
        		}	 
        }else if (boton=="ListarTodos"){
       	 	F.filtros.value=""
        		return true
        }
        
        	if (boton=="Cancelar")
		{  
   				
    				
    				document.form1.action="/tipoItems/tipoItemUsuario/${idfaseDestino}/lista"
			  		
			  		return true;	
				
       	}				
}

function botonPresionado(botonP){
	boton=botonP
}  

        

	  </script>
</head>

<body>

<div id="list_item_aprobados">
  <form  class="izquierda"  action="/lb/listar_proyectos_definidos" method="get" name="form1" onsubmit="return valida(this)">
  	
    <div align="left"><h3>Lista de proyectos</h3></div>
   
	     <div id="Buscador">
	    	<div>
	    		<td>
	    			<label>
  								<b>Buscar:</b>
  							</label>
	    			<input type="text" size="15" name="filtros" value="${filtro}"/></td><td><input   type="submit" onClick="botonPresionado('Buscar')" name="submit" value="Buscar"/>
	    			<input type="submit" onClick="botonPresionado('ListaTodos')" name="submit" value="Listar Todos"/>
	    		</td>
	 		</div>   
	 	 </div>
 	
    <div class="crud_table" style="height:80%; width:100%">
		<div>
		<table align="center" class="grid" rules="all" style="height:80%; width:100%">
    		<thead>
     			<tr><th></th><th align="center">Descripcion</th><th align="center">Estado</th></tr>
    		</thead>
     		<tbody >
        		<tr py:for="i, item in enumerate(proyecto)" class="${i%2 and 'odd' or 'even'}">
      		
	            	<td class="col_0">
                		<div><div><input TYPE="radio"  name="itemselect" value="${item.id}" /></div><div>
               			</div></div>
            		</td>
                	<td align="center" class="col_1">${item.descripcion}</td>
                	<td align="center" class="col_1">${item.estadoObj.descripcion}</td>

  			</tr>

    	  </tbody>
    </table>
		</div>
    </div>
      	<br/><br/><br/><br/>
      	<div align="left">
      		<input type="submit" name="submit" onClick="botonPresionado('Cancelar')" value="Cancelar" />
			<input align="right" name="submit" onclick="botonPresionado('genlb')" title="Generar" type="submit" value="Listar Tipo de items"/>
		</div>	
	 </form>
</div>
<br/><br/>
</body>
</html>