<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
    <link rel="stylesheet" type="text/css" href="/toscawidgets/resources/tw.forms/static/grid.css" media="all" />
    <title>Lista de Proyectos</title>
    <style>
        #menu_items {
  	    padding:0px 12px 0px 2px;
  	    list-style-type:None
        }
    </style>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/admin.css"/>
</head>


<body class="tundra">
  <div>  
    <h2>Lista de Proyectos</h2>
     <a class="add_link" href="${tg.url('/proyecto/nuevo')}">Nuevo Proyecto</a>
     <br/><br/>
     <div class="crud_table" style="height:50%; width:90%">
      <div>
        <table class="grid">
          <thead>
            <tr><th></th><th>Identificador</th><th >Nombre de Proyecto</th><th>Lider de Proyecto</th><th>Fecha de Creacion</th><th>Estado</th></tr>
          </thead>
          <tbody>
              <tr class="navigation" py:if="currentPage.page_count > 1">
    	          <td colspan="4" class="pager">${currentPage.pager()}</td>
	      </tr>

	      <tr class="navigation" py:if="currentPage.item_count == 0">
    		  <td colspan="4" class="pager">No existen datos</td>
	      </tr>
        
              <tr class="even" py:for="proyecto in proyectos">
                <td class="col_0">
                    <div><div><a class="edit_link" href="/proyecto/editar/${proyecto.id}" style="text-decoration:none">edit</a></div><div>
                
                    <form method="POST" action="/proyecto/eliminar/${proyecto.id}" class="button-to" >
                	<input class="delete-button" onclick="return confirm('Esta seguro que desea eliminar el registro con id ${proyecto.id}?');" 
                	value="eliminar"  type="submit" style="background-color: transparent; float:left; border:0; color: #286571; display: inline; margin:0;padding: 0;"/>
                    </form>
                    </div></div>
                </td>
            	<td class="col_1"><a href="/proyectoDef/${proyecto.id}">${proyecto.id}</a></td>
                <td class="col_2"><a href="/proyectoDef/${proyecto.id}">${proyecto.descripcion}</a></td>
		<td class="col_3"><a href="/proyectoDef/${proyecto.id}">${proyecto.lider.user_name}</a></td>  
                <td class="col_4"><a href="/proyectoDef/${proyecto.id}">${proyecto.fecha_creacion}</a></td> 
                <td class="col_5"><a href="/proyectoDef/${proyecto.id}">${proyecto.estadoObj.descripcion}</a></td>   
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div style="clear:both;"/>
</body>
</html>

