<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

    <xi:include href="master.html" />

    <head>
        <title>Nuevo proyecto</title>
        <meta content="text/html; charset=UTF-8" http-equiv="content-type"
              py:replace="''" />

    </head>
    <body>
        <a href="/proyecto/">Lista de Proyectos</a> <br /> <br />
        <h2 align="left">Nuevo Proyecto </h2>
        <div>
            <form action="/proyecto/add_proyecto" method="post" >
                <table border="0" cellpadding="2" cellspacing="0">
                    <tr>
                        
                        <td align="left"><label>Descripcion</label></td>

                        <td><input type="text" name="descripcion"></input></td>


                    </tr>
                    <tr><td></td></tr>
                    <tr>
                        <td align="left"><label>Lider </label></td>
                        <td>
                            <select name="lider" >
                                <option py:for="lider in lideres" value="${lider.user_id}">${lider.user_name}</option>
                            </select>

                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" name="submit" value="Guardar" /></td>
                    </tr>
                </table>

            </form>

        </div>
    </body>

</html>
