<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:py="http://genshi.edgewall.org/"
	xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />

<head>
<link rel="stylesheet" type="text/css"
	href="/toscawidgets/resources/tw.forms/static/grid.css" media="all" />
<title>Definir Proyecto</title>
<style type="">
#menu_items {
	padding: 0px 12px 0px 2px;
	list-style-type: None
}
</style>
<link rel="stylesheet" type="text/css" media="screen"
	href="/css/style.css" />
<link rel="stylesheet" type="text/css" media="screen"
	href="/css/admin.css" />
</head>


<body class="tundra">

	<div>
		<h2>Definir Proyecto</h2>
		<table>
			<!-- tr>
			<py:if test="mostrarLink">
				<td><a href="/tipoItems/tipoItemUsuario/${proyecto_id}">Tipo
						de Items</a></td>
			</py:if>	
			</tr -->
			<tr>
				<td><a href="/proyecto/lista">Lista de Proyectos</a> <br/> 
				<a href="/proyecto/definir_fase/${proyecto_id}">Definir fase</a> <br/>
					<br /></td>
			</tr>

		</table>
	</div>

	<div style="clear: both;" />
</body>
</html>

