
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">

	<xi:include href="master.html" />

	<head>
		<style>
			#menu_items {
			padding:0px 12px 0px 2px;
			list-style-type:None
			}
		</style>
		
		<script>
			 boton=""
			 function validaxx(F) {
				
				if (boton=="genlb")
				{  
	   				for(j=0; ele=document.form1.itemselect[j]; j++){ 
	              		
	    				if (ele.checked==true){
	    					document.form1.action="/lb/guardar_linea_base/${fase.id}"
	        				//F.filtros.value="Lista"
	    					return true;	
	    				}
	    			}
	    				
	    			if(document.form1.itemselect.checked==true){
				  		document.form1.action="/lb/guardar_linea_base/${fase.id}"
				  		//F.filtros.value=""
				  		return true;	
					}
	    			alert("Debe seleccionar al menos un item para relacionar");
	    			return false;
		       	}
	       	
		       	if(boton=="Buscar"){
		        		if(F.filtros.value != "") {   
		                	return true 
		        		}
		        		else if (F.filtros.value == ""){
		        			return false
		        		}	 
		        }else if (boton=="ListarTodos"){
		       	 	F.filtros.value=""
		        		return true
		        }
		        
		        if (boton=="Cancelar")
				{  		
		    				document.form1.action="/item/itemList/${fase.id}/"  		
					  		return true;	
		       	}				
			}
			
			function valida(F) {  
          
		        if(F.filtro.value != "" ) { 
		        	
		                return true; 
		        }else
		        	 if(boton == "filter") 
		        		return false;
		        	  else(boton == "all")
		        	  	return true;
			}  
		
			function botonPresionado(botonP){
				boton=botonP
			}
			  
			
			function mostrar(param) {
			  obj = document.getElementById('ListaTodos');
			  if (param)
			  {
			  	obj.style.display = (obj.style.display=='none') ? 'block' : 'none';
			  }
			}
		</script>

	</head>

	<body>
		<div id="lista_linea_base">
			<div>
				<h3>Lineas Bases Activas</h3>
			</div>
			<table>
				<tr>
					<td>
						<a href="/item/itemList/${fase.id}">
							<IMG title="Lista fase" height="25" border="0" src="${tg.url('/images/flechaAtras.jpg')}" />
						</a>
					</td>
					<td>
						<u>
							<b>Proyecto</b>
						</u>
					</td>
					<td>
						<label>${fase.proyectoObj.descripcion}</label>
					</td>
				</tr>
				<tr>
					<td/>
					<td>
						<u>
							<b>Fase Nro.</b>
						</u>
					</td>
					<td>
						<label>${fase.numero_fase}</label>
					</td>
				</tr>
				<tr>
					<td/>
					<td>
						<u>
							<b>Fase</b>
						</u>
					</td>
					<td>
						<label>${fase.descripcion}</label>
					</td>
				</tr>
			</table>
			
			<tr>
				<div id="Buscador">
					<form class="izquierda" display="none" onSubmit="return valida(this);" action="/lb/listar_linea_base/${proyecto.id}/${fase.id}">
						<div>

							<td colspan="10" align="right">
								<label>
									<b>Buscar:</b>
								</label>
								<input class="label" size="20" name="filtro" value=""/>
								<input type="submit" name="submit" value="Buscar" align="center"  onClick="botonPresionado('filter')" />
								<input type="submit" name="submit" value="Listar Todos"  onClick="botonPresionado('all')" /> 
							</td>

						</div>
						
					</form>
					
				</div>

				<!-- td colspan="2">
					<div style="display:none" id="ListaTodos">
						<form class="izquierda" display="none" action="/lb/listar_linea_base/${proyecto.id}/${fase.id}" method="post">
							<input type="submit" name="submit" value="Listar Todos"/>
						</form>
					</div>
				</td-->

			</tr>	

			<div class="crud_table" style="height:80%; width:100%">
				<div>
					<table class="grid" rules="all" style="height:80%; width:100%">
						<thead>
							<tr>

								<th>Cod. LB</th>
								<th>Estado</th>
								<th>Ver Artefactos</th>

							</tr>
						</thead>
						<tbody>
							<tr class="navigation" py:if="currentPage.page_count > 1">
								<td colspan="4" class="pager">${currentPage.pager()}</td>
							</tr>
							<tr py:for="i, lb in enumerate(lista)" class="${i%2 and 'odd' or 'even'}">

								<td class="col_0">${lb.id}</td>
								<td class="col_1">${lb.estado.descripcion}</td>
								<td class="col_1">
									<a href="/lb/items_linea_base/${lb.id}/${fase.id}">Ver</a>
								</td>

							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<br/>
		<br/>
	</body>
</html>
