<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">

			<xi:include href="master.html" />

			<head>
					<style>
						  #menu_items {
							 padding:0px 12px 0px 2px;
							 list-style-type:None
						  }
					</style>
	  
					<script>
						  boton=""	
						 function valida(F) {  
						  
								if(F.filtro.value != "" ) { 
								 
										  return true; 
								}else
								  if(boton == "filter") 
									 return false;
									else(boton == "all")
									 return true;
						 }  
					 
						 function botonPresionado(botonP){
							 boton=botonP
						 }
							
						 
						 function mostrar(param) {
							obj = document.getElementById('ListaTodos');
							if (param)
							{
							 obj.style.display = (obj.style.display=='none') ? 'block' : 'none';
							}
						 }
					 </script>
	  
	  </head>

<body>


<div id="lista_linea_base">
  	<td>
  		<div ><h3>Lista de Items de la Linea Base ${lineabase.id} </h3></div>
  	</td>
    
    
    
   <table  style="height:80%; width:100%">
		<tr>
		<td width="5%"><a href="/lb/listar_linea_base/${fase.proyectoObj.id}/${fase.id}" ><IMG title="Lista fase" height="25" border="0" src="${tg.url('/images/flechaAtras.jpg')}" /></a>
 		</td>
 		
		<td><u><b>Proyecto</b></u>
			<label>: ${fase.proyectoObj.descripcion}</label>
		</td>
		<td></td>
		</tr>
		<tr><td/>
		<td>
			<u><b>Fase Nro</b></u>
			<label>: ${fase.numero_fase}</label>
		</td>
		</tr>
		<tr><td/>
		<td>
			<u><b>Fase</b></u>
			<label>${fase.descripcion}</label>
		</td>
		
		</tr>  		
   </table>
   			<tr>
				<div id="Buscador" align="right">
					<form class="izquierda" display="none" onSubmit="return valida(this);" action="/lb/items_linea_base/${lineabase.id}/${fase.id}">
						<div>

							<td colspan="10" align="right">
								<label>
									<b>Buscar:</b>
								</label>
								<input class="label" size="20" name="filtro" value=""/>
								<input type="submit" name="submit" value="Buscar" align="center"  onClick="botonPresionado('filter')" />
								<input type="submit" name="submit" value="Listar Todos"  onClick="botonPresionado('all')" /> 
							</td>

						</div>
						
					</form>
					
				</div>
			</tr>	 
    
    <div class="crud_table">
      
		<div>
		<table class="grid" rules="all" style="height:80%; width:100%">
    		<thead>
     			<tr>
     			
     				<th>Cod. Item</th>
     				<th >Descripcion</th>
     				<th>Estado</th>
     				<th >Version</th>
     				
     			</tr>
    		</thead>
     		<tbody >
     			<tr class="navigation" py:if="currentPage.page_count > 1">
    			<td colspan="4" class="pager">${currentPage.pager()}</td>
				</tr>
        		<tr py:for="i, item in enumerate(items)" class="${i%2 and 'odd' or 'even'}">
      			 
            		<td class="col_0">${item.cod_item}</td>
                	<td class="col_1">${item.descripcion}</td>
                	<td class="col_1">${item.estado.descripcion}</td>
                	<td class="col_1">V-${item.version}</td>
        		
  			</tr>
    	  </tbody>
    </table>
		</div>
    </div>	
</div>
<br/><br/>
</body>
</html>
