<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />



<script> 
var fechas=[];
var codRepetido
var valorNoNumerico=[2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2]
var formatoNoValido=[2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2]

cont_fechas=0;
var enteros=[];

cont_enteros=0;
function validarCamposObligatorios(form){

/*for(j=0; ele=valorNoNumerico[j]; j++){

	if(true==ele){
		alert("El campo debe ser numerico");		
            return false;  
	} 
}
for(j=0; ele=formatoNoValido[j]; j++){

	if(true==ele){
		alert("Formato o Valor de fecha no valido");		
            return false;  
	} 
}*/
if (codRepetido)
{ 
	alert('El codigo del item ya esta en uso en esta fase'); 
	return false
	
}
campo= document.form.codItem.value;
campo2= document.form.descripcion.value;
if (campo=='')
{
	alert('Debe completar todos los campos obligatorios marcados con *');
    return false;
}    
if (campo2=='')
{
	alert('Debe completar todos los campos obligatorios marcados con *');
    return false;
}

}




function validarEntero(form,i){
     enteros[cont_enteros]=i;
	 cont_enteros=cont_enteros+1; 
     valor = parseInt(form.lista[i].value)
	  if (isNaN(form.lista[i].value)) {
	            alert("El valor debe ser numerico")
	            valorNoNumerico[i]=true
	            return false
      }else{
      		valorNoNumerico[i]=false
            return valor
            
      }
} 

function validarCodigos(form,lista){
//alert(lista);
codigos=lista.split(',');
//alert(codigos[0])
codItem=document.form.codItem.value;

for(j=0; ele=codigos[j]; j++){
	if(ele==codItem){
		alert("El codigo del item ya esta en uso en esta fase");
			codRepetido=true		
            return false;  
	} 
	
}
codRepetido=false 
}

function salir(form,id){
	url= "/tipoItems/tipoItemUsuario/"+id+"/lista"
	
	window.location=url;
	return false;
	
}
</script>






<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <!--title>Editing: ${aux.descripcion}</title-->
</head>

<body>
<!--div onclick="comprueba(this)">Otro comentario</div-->
<div><h3>Agregar Nuevo tipo de Item</h3></div>

<div id="CargaAtributos">
  <form  name="form" display="none" onsubmit="return validarCamposObligatorios(this)" action="/tipoItems/saveItem" method="get">
 <table border="0"> 
    <input type="hidden" name="idProy" value="${proyecto.id}"/>
    <input type="hidden" name="idFase" value="${fase.id}"/>
    
    <tr><td><u><b>Proyecto:</b></u></td>
		<td colspan="2"><label><b>${proyecto.descripcion}</b></label></td>
    </tr>
    <tr><td><u><b>Fase:</b></u></td>
		<td colspan="2"><label><b>${fase.descripcion}</b></label></td>
    </tr>
    <tr/><tr/><tr/><tr/><tr/><tr/><tr/>
    
	<tr><td colspan="2">Codigo del Tipo de Item:</td>
    <td><input size="5" maxlength="7" onBlur="validarCodigos(this,'${codigos}');" name="codItem" onkeyup="form.codItem.value=form.codItem.value.toUpperCase();" value="${tipoItem.codigo}"/><b>*</b></td>
    </tr>
    
    <!-- td><label>Cod.Item:</label></td>
		<td><input  onkeyup="form.codItem.value=form.codItem.value.toUpperCase();" onBlur="validarCodigos(this,'${codigos}');" name="codItem"  value="${item.cod_item}"/><b>*</b></td-->
		
    
    
    <tr><td colspan="2">Nombre del Tipo de Item:</td>
    <td><input name="descripcion" value="${tipoItem.descripcion}"/><b>*</b></td>
    </tr>
    <!--textarea name="data" py:content="recurso.descripcion" rows="10" cols="60"/-->
    	
	
	<tr/><tr/><tr/><tr/><tr/><tr/><tr/>
	<tr>
    	<td>
    	<input type="button" name="cancelar" value="Cancelar" onclick="salir(this,'${fase.id}');"/>
    	
    	<input type="submit" name="submit" value="Guardar"/>
    	</td>
    	
    </tr>
 </table>
  </form>
  <!--a href="${tg.url('/Agregar Recurso')}">Agregar Recurso</a-->
  <!--<h2>Nuevo Recurso</h2>
	${tmpl_context.add_movie_form( action='add_movie') }!-->
  
 
  
  
  
</div>

<br/><br/>
<!-- 
<a href="/tipoItems/tipoItemUsuario/${fase.id}/lista">Def. Tipo Item</a>
   -->
</body>
</html>
