<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head><link rel="stylesheet" type="text/css" href="/toscawidgets/resources/tw.forms/static/grid.css" media="all" />
    <title>Turbogears Admin System - Group Listing</title><style>
#menu_items {
  padding:0px 12px 0px 2px;
  list-style-type:None
  }
</style>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/admin.css"/>
</head>


<body class="tundra">

<div>
   <h2>Tipo de Item: ${tipoItem.descripcion}</h2>
   <a  class="" title="Lista Todos los atributos" href="/tipoItems/atributosDef/${tipoItem.id}"><h2>Lista de Atributos</h2></a>
 <a class="add_link" href="/tipoItems/agregar_Atributo/${tipoItem.id}">Agregar Nuevo Atributo</a>
    <div class="crud_table" style="height:50%; width:90%">
    <div>
     
    <table class="grid">
        <thead>
            <tr><th></th><th>Identificador</th><th >Nombre de Atributo</th><th>Tipo de Dato</th></tr>
        </thead>
        <tbody >
        	<tr class="navigation" py:if="currentPage.page_count > 1">
    			<td colspan="4" class="pager">${currentPage.pager()}</td>
			</tr>
			<tr class="navigation" py:if="currentPage.item_count == 0">
    			<td colspan="4" class="pager">No existen datos</td>
			</tr>
        
            <tr py:for="i, atributo in enumerate(atributos)" class="${i%2 and 'odd' or 'even'}">
            <td class="col_0">
                <div><div><a class="edit_link" href="/tipoItems/atributo_editar/${tipoItem.id}/${atributo.id}" style="text-decoration:none">edit</a></div><div>
                
                <form method="POST" action="/tipoItems/eliminar_atributo/${tipoItem.id}/${atributo.id}" class="button-to">
                	<!--input type="hidden" name="tipo_item_id" value="${tipoItem.id}"/--> 
                	<input class="delete-button" onclick="return confirm('Esta seguro que desea eliminar el registro con id ${atributo.id}?');" 
                	value="eliminar"  type="submit" style="background-color: transparent; float:left; border:0; color: #286571; display: inline; margin: 0; padding: 0;"/>
                </form>
                </div></div>
            
            </td>
            	<td class="col_0">${atributo.id}</td>
                <td class="col_1">${atributo.nombre_atributo}</td>
                <td class="col_1">${atributo.tipo.descripcion}</td>
        </tr>
        </tbody>
    </table>
  </div>
      </div>
  <br/><br/>
<a  href="/tipoItems/tipoItemUsuario/${tipoItem.proyecto_id}/lista">Def. Tipo Item</a>
  
 
  
</div>

 <div style="clear:both;"/>

</body>
</html>
