<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head><link rel="stylesheet" type="text/css" href="/toscawidgets/resources/tw.forms/static/grid.css" media="all" />
    <title>Definicion de Atributos de Tipo de Item</title><style>
#menu_items {
  padding:0px 12px 0px 2px;
  list-style-type:None
  }
</style>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/admin.css"/>
</head>


<body class="tundra">
<h3>Lista de Atributos</h3>

 <table border="0">
		<tr>
		<td><a href="/tipoItems/tipoItemUsuario/${tipoItem.fase_id}/lista"><IMG title="Lista fase" height="25" border="0" src="${tg.url('/images/flechaAtras.jpg')}" /></a>
 		</td>	
		<td><u><b>Proyecto</b></u></td>
		<td colspan="3"><label>${fase.proyectoObj.descripcion}</label></td>
		</tr>
		<tr><td/>
		<td><u><b>Fase Nro.</b></u></td>
		<td><label>${fase.numero_fase}</label></td>
		</tr>
		<tr><td/>
		<td><u><b>Fase</b></u></td>
		<td><label>${fase.descripcion}</label></td>
		</tr>
		<tr>
			<td/><td><u><b>Tipo de Item:</b></u> </td><td>${tipoItem.descripcion}</td>
		</tr>
		<tr/><tr/><tr/><tr/><tr/><tr/><tr/><tr/><tr/><tr/><tr/><tr/>	
</table>











<div>
   
   
   
   
   
   
   
   
   
 <a class="add_link" href="/tipoItems/agregar_Atributo/${tipoItem.id}">Agregar Nuevo Atributo</a>
    <div class="crud_table" >
    <div>
     
    <table class="grid" style="height:80%; width:100%">
        <thead>
            <tr><th></th><th>Identificador</th><th >Nombre de Atributo</th><th>Tipo de Dato</th></tr>
        </thead>
        <tbody >
        	<tr class="navigation" py:if="currentPage.page_count > 1">
    			<td colspan="4" class="pager">${currentPage.pager()}</td>
			</tr>
			<tr class="navigation" py:if="currentPage.item_count == 0">
    			<td colspan="4" class="pager">No existen datos</td>
			</tr>
        
            <tr py:for="i, atributo in enumerate(atributos)" class="${i%2 and 'odd' or 'even'}">
            <td class="col_0">
                <div><div><a class="edit_link" href="/tipoItems/atributo_editar/${tipoItem.id}/${atributo.id}" style="text-decoration:none">edit</a></div><div>
                
                <form method="POST" action="/tipoItems/eliminar_atributo/${tipoItem.id}/${atributo.id}" class="button-to">
                	<!--input type="hidden" name="tipo_item_id" value="${tipoItem.id}"/--> 
                	<input class="delete-button" onclick="return confirm('Esta seguro que desea eliminar el registro con id ${atributo.id}?');" 
                	value="eliminar"  type="submit" style="background-color: transparent; float:left; border:0; color: #286571; display: inline; margin: 0; padding: 0;"/>
                </form>
                </div></div>
            
            </td>
            	<td class="col_0">${atributo.id}</td>
                <td class="col_1">${atributo.nombre_atributo}</td>
                <td class="col_1">${atributo.tipo.descripcion}</td>
        </tr>
        </tbody>
    </table>
  </div>
      </div>
  <br/><br/>
  
 
  
</div>

 <div style="clear:both;"/>

</body>
</html>
