<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head><link rel="stylesheet" type="text/css" href="/toscawidgets/resources/tw.forms/static/grid.css" media="all" />
    <title>Turbogears Admin System - Group Listing</title><style>
#menu_items {
  padding:0px 12px 0px 2px;
  list-style-type:None
  }
  
</style>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/admin.css"/>
<SCRIPT TYPE="text/javascript">
<!--
function vacio(q) {  
        for ( i = 0; i < q.length; i++ ) {  
                if ( q.charAt(i) != " " ) {  
                        return true  
                }  
        }  
        return false  
}  
  
function valida(F) {  
          
        if(F.expresion.value != "" ) {  
                return true 
        }else
        		return false
}  
function popup(mylink, windowname)
{
if (! window.focus)return true;
var href;
if (typeof(mylink) == 'string')
   href=mylink;
else
   href=mylink.href;
window.open(href, windowname, 'width=400,height=200,scrollbars=yes');
return false;
}
function mostrar(param) {
  obj = document.getElementById('ListaTodos');
  if (param)
  {
  	obj.style.display = (obj.style.display=='none') ? 'block' : 'none';
  }
 // document.getElementById('enla').innerHTML = (obj.style.display=='none') ? 'Ocultar' : 'Mostrar';
}

//-->
</SCRIPT>
</head>


<body class="tundra" onload="mostrar(${muestraBoton});  return true">
   <a href="/proyecto/definir_fase/${proyecto.id}" ><IMG title="Def fase" border="0" src="${tg.url('/images/flechaAtras.jpg')}" /></a>
   <h2 class="">${proyecto.descripcion}</h2>
   <h3 class="">${fase.descripcion}</h3>
  <!--Buscador-->
	<div>
   		<div id="Buscador">
  			<form  class="izquierda" display="none" action="/tipoItems/tipoItemUsuario/${fase.id}" method="get" onSubmit="return valida(this);">
    			<div><h3><label>Buscar:</label>
    				<input  class="label" name="expresion" value=""/><input  type="submit" name="submit" value="Buscar"/></h3>
 				</div>    
  			</form>
 		</div>
  		<div style="display:none" id="ListaTodos">
  			<form   class="izquierda" display="none" action="/tipoItems/tipoItemUsuario/${fase.id}/lista" method="post">
    			<input  type="submit" name="submit" value="Listar Todos"/>
 			</form>
 			<!--a  class="izquierda" title="Lista Todos los Tipos de Items" href="/tipoItems/tipoItemUsuario/${proyecto.id}/lista">Listar Todos</a-->
 		</div>
<!--FIN-Buscador--> 
 
    <a  class="centrado" title="Lista Todos los Tipos de Items" href="/tipoItems/tipoItemUsuario/${proyecto.id}/lista"><h2>Lista de Tipos de Items</h2></a>
 <a class="add_link" href="/tipoItems/agregar_tipoItem/${fase.id}">Agregar Nuevo Tipo de Item</a>
    <div class="crud_table" style="height:50%; width:90%">
    <div>
     
    <table class="grid"  >
        <thead>
            <tr><th></th><th>Identificador</th><th >Cod.Tipo Item</th><th >Descripcion</th><th>Atributos</th><th></th></tr>
        </thead>
        <tbody >
        	<tr class="navigation" py:if="currentPage.page_count > 1">
    			<td colspan="4" class="pager">${currentPage.pager()}</td>
			</tr>
			<tr class="navigation" py:if="currentPage.item_count == 0">
    			<td colspan="4" class="pager">No existen datos</td>
			</tr>
        
            <tr py:for="i, tipoItem in enumerate(tiposItemUs)" class="${i%2 and 'odd' or 'even'}">
            <td class="col_0">
                <div><div><a class="edit_link" href="/tipoItems/tipoItem_editar/${tipoItem.id}/${fase.id}" style="text-decoration:none">edit</a></div><div>
                
                <form method="POST" action="/tipoItems/eliminar_tipoItem/${fase.id}/${tipoItem.id}" class="button-to">
                	<input class="delete-button" onclick="return confirm('Esta seguro que desea eliminar el registro con id ${tipoItem.id}?');" 
                	value="eliminar"  type="submit" style="background-color: transparent; float:left; border:0; color: #286571; display: inline; margin: 0; padding: 0;"/>
                </form>
                </div></div>
            
            </td>
            	<td class="col_0">${tipoItem.id}</td>
                <td class="col_1">${tipoItem.codigo}</td>
                <td class="col_1">${tipoItem.descripcion}</td>
                <!--td class="col_1"><a href="/tipoItems/atributosList/${tipoItem.atributos}">${tipoItem.atributos}</a></td-->
                <td>
        		<select multiple="true" name="atributos" size="2">
            	<py:for each="atributo in tipoItem.atributos">
              	$atributo.nombre_atributo
              	<option value="$atributo.id">$atributo.nombre_atributo</option>
  
            	</py:for>
        </select>
      </td>
                <td class="col_1"><a href="/tipoItems/atributosDef/${tipoItem.id}">Definir Atributos</a></td>
        </tr>
        </tbody>
    </table>
  </div>
      </div>
<br/><br/>

    
  
  
</div>

 <div style="clear:both;"/>

</body>
</html>

